<main class="contenedor contenedor-formularios">
    <h1>
        <%= nombrePagina%>
    </h1>
    <form  method="POST" class="default-form">
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Tu Contraseña" />
        </div>
        <div class="campo">
            <label>Repitir Password</label>
            <input type="password" name="confirmar" placeholder="Repitir Contraseña" />
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" name="confirmar" value="Crear Cuenta" />
        </div>
    </form>

</main>