<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina%></h1>

    <form action="/recuperar-contrasena" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email"  name="email" placeholder="Tu Email"/>
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" name="confirmar" value="recuperar Contraseña"/>
        </div>
    </form>
</main>